@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --font-text: "Montserrat", sans-serif !important;
    --text-size: 16px;
    --text-size-title: 28px;
    --text-color: black;
    --bg-color: white;
    --orange-color: rgb(253, 92, 0);
    --outline-color: rgb(253, 92, 0);
    --outline-color-opacity: rgba(253, 92, 0, 0.3);
    --border-btn: 2px solid var(--outline-color);
    --border-btn-opacity: 2px solid var(--outline-color-opacity);
}

body {
    font-family: var(--font-text);
}

input,
select,
button {
    outline: none !important;
    font-family: var(--font-text);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.space-between-customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-customer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-bottom {
    border-top: none;
    border-left: none;
    border-right: none;
}

.customer-btn {
    font-size: 15px;
    color: var(--orange-color);
    background-color: var(--bg-color);
    font-weight: 700;
    text-decoration: none;
    padding: 8px 24px;
    border: var(--border-btn-opacity);
    transition: 0.3s;
    cursor: pointer;
}

.clear-css {
    border: 0 !important;
    border-radius: 0 !important;
    animation: none !important;
}

.pb-8 {
    padding-bottom: 8px;
}

.pb-52 {
    padding-bottom: 52px;
}

.height-1rem {
    height: 1rem;
}

.col {
    float: left;
    padding: 0 8px;
}

.row {
    margin: 0 -8px;
}

.col-2 {
    width: calc(100% / 2);
}

.col-3 {
    width: calc(100% / 3);
}

.col-4 {
    width: calc(100% / 4);
}

.col-5 {
    width: calc(100% / 5);
}

.col-8 {
    width: calc(100% / 8);
}

.clear {
    clear: both;
}

.container-hearder {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000000;
    background-color: var(--bg-color);
    width: 100%;
    box-shadow: 0 2px 12px var(--outline-color);
}

.section-header-1 {
    border-radius: 6px;
    padding: 4px 0;
}

.section-header-1 .logo-header {
    height: 65px;
}

.section-header-1 .logo-header a {
    display: inline-block;
    height: 100%;
}

.section-header-1 .logo-header a img {
    height: 100%;
}

.section-header-1 > nav > ul > li {
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0 8px;
    cursor: pointer;
}

.section-header-1 > nav > ul > li::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 0;
    background-color: var(--outline-color);
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.section-header-1 > nav > ul > li > a::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 40px;
    transform: translateX(-50%);
    height: 25px;
    width: 90px;
    background-color: rgba(0, 0, 0, 0);
}

.section-header-1 > nav > ul > li:hover::after {
    width: 100%;
}

.section-header-1 > nav > ul > li > a {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    padding: 8px 8px;
    font-size: var(--text-size);
    color: var(--text-color);
    line-height: 100%;
}

.section-header-1 > nav > ul > li > a > i {
    color: var(--text-color);
    transition: 0.3s;
    margin-left: 4px;
}

.section-header-1 > nav > ul > li:hover > a > i {
    transform: rotate(180deg);
}

.section-header-1 .search-header {
    display: flex;
    align-items: center;
    justify-content: right;
}

.section-header-1 .search-header i {
    cursor: pointer;
    font-size: 24px;
    margin-right: 8px;
    opacity: 1;
    color: var(--outline-color);
}

/* begin sub header */
.section-header-1 li > ul {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(50%);
    background-color: var(--bg-color);
    width: max-content;
    padding: 10px 24px;
    display: none;
    border-radius: 12px;
    box-shadow: 0 0 6px var(--outline-color);
}

.section-header-1 li:hover > ul {
    display: block;
}

.section-header-1 li > ul > li {
    list-style: none;
    padding: 8px 8px;
    margin: 4px 0px;
}

.section-header-1 li > ul > li:hover {
    border-left: 3px solid var(--outline-color);
}

.section-header-1 li > ul > li > a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    transition: 0.3s;
}

.section-header-1 li > ul > li:hover a {
    transform: translateX(12px);
}

.section-header-1 li > ul > li > a > i {
    color: var(--text-size);
    font-size: var(--text-size);
    margin-left: 8px;
}
/* end sub header */
